/*For screen over 1200px by default
==================================================================================================================================================*/

/*Basic data:

font family: 
"Yu Gothic", "YuGothic", "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", "ＭＳ Ｐゴシック", "Meiryo", "メイリオ", "Osaka", sans-serif;

key colors: 
background blue:  #009fe8
text black:       #000
text white:       #fff
underline orange: #f7931e
background orange:#f7931e
background pink:  #fde9d2
form background:  #e6e6e6
form border:      #bebebe

font sizes:
html: 62.5%
nav:  1.5rem
main appealing text: 3rem
h2    1.5rem
==================================================================================================================================================
*/

@charset "utf-8";

/*general settings*/
html {
	font-size: 62.5%;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	font-family: "Yu Gothic", "YuGothic", "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", "ＭＳ Ｐゴシック", "Meiryo", "メイリオ", "Osaka", sans-serif;
	width: 100%;
	margin: 0 auto;
	font-size: 1rem;
}
a {
	display: block;
	text-decoration: none;
	color: #000;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.cf::after {
	content: "";
	display: block;
	clear: both;
}
.inner {
	margin: 0 auto;
}
.inner-1 {
	width: 80%;
}
.inner-2 {
	width: 70%;
}
.inner-3 {
	width: 60%;
}
h2, h3, h4 {
	letter-spacing: 0.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.6rem;
}
.section-txt {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 0.2rem;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 3rem;
}
.section-subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.3rem;
}
.section-title {
	padding: 0 3rem 1rem;
	border-bottom: 1px solid #000;
	margin-bottom: 1rem;
}
.sections {
	padding: 5rem 0;
}

/*-----------------------------header--------------------------------*/
.header {
	width: 100%;
	background-color: #fff;
}
.header .inner-1 {
	height: 80px;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	position: relative;
}
.smartphone-nav { /*menu for smaller screen is not displayed by default*/
	display: none;
}
.logo {
	width: 74.25px;
	position: absolute;
	top: calc(50% - 15.195px);
}
.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav a {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.desktop-nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.desktop-nav li {
	margin-right: 3rem;
}
.desktop-nav li:last-child {
	margin-right: 0;
}

/*--------------------------main visual------------------------------*/
.main-visual {
	width: 100%;
}
.main-visual-wrapper {
	width: 100%;
	position: relative;
}
.main-img { /*the main image part on the right-----------------------*/
	position: absolute;
	top: 0;
	right: 0;
	width: 55%;
	background-image: url("img/main-img.png");
}
.logo-white {
	position: absolute;
	width: 20%;
	top: calc(50% - 49.455px);
	left: calc(50% - 78.26px)
}
.main-appeal { /*the main appealing text with blue bg on the left----*/
	position: absolute;
	width: 45%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	color: #fff;
	padding: 11%;
	font-size: 2.5rem;
	background-color: #009fe8;
}
.main-appeal-txt {
	font-weight: 500;
	line-height: 4rem;
	letter-spacing: 0.4rem;
}
.main-visual-wrapper::before {
	content: "";
    display: block;
    width: 0;
    padding-top: 34.919888%;
}

/*---------------------about section--------------------------------*/
.about {
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 0;
	background-color: #fff;
}
.about-txt-inner-wrapper .title {
	margin-bottom: 0;
}

/*about text sub section*/
.no-border {
	border: none;
	line-height: 3rem;
	margin-bottom: 0;
	padding-bottom: 0;
}
.about-txt {
	width: 100%;
	padding-bottom: 5rem;
}
.about-txt-inner-wrapper {
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.about-txt-inner-wrapper .title::after {
	content: "";
	display: block;
	width: 2rem;
	height: 0.2rem;
	background-color: #000;
	margin: 3rem auto;
}

/*how it works sub section*/
.how-it-works {
	width: 100%;
	color: #fff;
	padding: 5rem 0;
	background-image: url(../img/slider-bg.png);
}
.how-it-works .inner-2 {
	display: flex;
	justify-content: center;
}
.how-it-works .section-title {
	border-bottom-color: #fff;
}
.slider,  .how-it-works section-txt-wrapper {
	width: 48%;
}
.slider {
	margin-right: 4%;
}

/*overwrite slick-theme.css*/
.slick-dots li {
	margin: 0 0.1rem;
}
.slick-dots li button:before {
	font-size: 0.8rem;
	color: #fff;
	opacity: 0.8;
}
.slick-dots li.slick-active button:before {
	color: #009fe8;
}

/*-----------------------------service---------------------------------------*/
.service {
	width: 100%;
	background: url(../img/repeated-bg-l.png);
	background-size: cover;
}

/*the nav buttons*/
.inner-nav {
	width: 100%;
	margin-bottom: 3rem;
}
.inner-nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inner-nav-item {
	width: 15%;
	margin-right: 0.5rem;
	border: 2px solid #000;
	background-color: #fff;
}
.inner-nav-item:last-child {
	margin-right: 0;
}
.inner-nav-item a {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 0.2rem;
	padding: 1rem;
}
.inner-nav-item a::after {
	content: "";
	position: absolute;
	right: 1.2rem;
	top: calc(50% - 0.8rem * 1.5 / 2);
	width: 0.8rem;
	height: 0.8rem;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* general styles for the 3 sub-sections with similar layouts */
.basic-layout {
	width: 100%;
	background-color: #fff;
	margin-bottom: 2rem;
}
.basic-layout:last-child {
	margin-bottom: 0;
}
.sub-title-wrapper {
	width: 100%;
	height: 6rem;
	display: flex;
	
}
.sub-title {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	background-color: #009fe8;
}
.sub-description {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5rem;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0.2rem;
	background-color: #e6e6e6;
}
.content-wrapper {
	padding: 5rem;
}

/*the 1st sub-section: contents*/
.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.content-box {
	border: 2px solid #f7931e;
	width: 48%;
	padding: 3rem 0;
}
.content-box:nth-child(1) {
	margin-right: 4%;
}
.content-box-inner {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content-title-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f7931e;
	margin-bottom: 3rem;
}
.content-title {
	margin-bottom: 0.8rem;
}
.content-category {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}
.content-txt {
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
}
.content-txt-wrapper {
	width: 100%;
	margin-bottom: 3rem;
}
.example-topics-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content-title-wrapper img {
	width: 6rem;
	margin-bottom: 2rem;
}
.example-topics-title::after {
	content: "";
	display: block;
	width: 8rem;
	height: 0.2rem;
	background-color: #f7931e;
	margin: 0.5rem 0 3rem;
}
.example-topics {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.example {
	width: 49.5%;
	background-color: #fde9d2;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 1%;
}
.example:nth-child(2n+1) {
	margin-right: 1%;
}
.extra-description {
	text-align: center;
}

/*the 2nd sub-section: cost*/
.cost-detail-title {
	margin-bottom: 2rem;
}
.cost-detail-title::before {
	content: "";
	background-image: url(../img/q-icon.png);
	background-size: 1.5rem auto;
	display: inline-block;
	width: 1.5rem;
	height: calc(1.5rem * 42 / 38);
	vertical-align: -20%;
	margin-right: 1rem;
}
.cost-detail table {
	width: 70%;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}
.cost-detail:nth-child(1) table {
	margin-bottom: 3rem;
}
.cost-detail table th, .cost-detail table td {
	padding: 1rem;
	border-collapse: collapse;
	border: 1px solid #bebebe;
}
.cost-detail table th {
	width: 60%;
	text-align: left;
	background-color: #e6e6e6;
}
.cost-detail table td {
	width: 40%;
	text-align: right;
}

/*the 3rd sub-section: process*/
.process-detail-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	counter-reset: sorting;
}
.process-detail {
	width: 49.5%;
	margin-bottom: 1%;
	border: 1px solid #bebebe;
}
.process-detail-title-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.process-detail-sub-title {
	font-weight: 600;
	margin-top: 0.6rem;
}
.process-detail:nth-child(2n+1) {
	margin-right: 1%;
}
.process-detail-txt {
	height: 12rem;
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 600;
	background-color: #e6e6e6;
	padding: 2rem;
}
.order {
	font-size: 2.5rem;
	line-height: 5rem;
	font-weight: 900;
	color: #fff;
	text-align: center;
	margin-right: 1rem;
}
.order::before {
	content: "0"counter(sorting);
	counter-increment: sorting;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	background-color: #f7931e;
}

/*-----------------------------company section--------------------------*/
.company .title {
	margin-bottom: 5rem;
}
.company-info {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}
.company-info tr {
	width: 100%;
	text-align: left;
}
.company-info th, .company-info td {
	padding: 1.5rem;
}
.company-info th {
	width: 40%;
	border-bottom: 2px solid #009fe8;
}
.company-info td {
	width: 60%;
	font-weight: 500;
	border-bottom: 2px dotted #f7931e;
}

/*---------------------------works section-----------------------------------*/
.works {
	width: 100%;
	background: url(../img/repeated-bg-m.png);
	background-size: cover;
}